<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/android-2.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="android-2" />
    <div class="android-2 screen">
      <img class="vector-eWY7W0" src="/images/vector@2x.png" /><img class="logo-1-eWY7W0" src="/images/logo-1@2x.png" />
      <div class="populis-eWY7W0">POPULIS</div>
      <div class="silent-eWY7W0">VOX</div>
      <img class="image-1-eWY7W0" src="/images/image-1@1x.png" /><img
        class="frame-6791-eWY7W0"
        src="/images/frame-6791@1x.png"
      /><img class="j-tem-conta-entre-aqui-eWY7W0" src="/images/j--tem-conta--entre-aqui@1x.png" /><a
        href="/adapt"
        target="_blank"
      >
        <div class="frame-6794-eWY7W0"><div class="versao-adaptada-O0MB8p">VERSAO ADAPTADA</div></div></a
      >
      <div class="verso-acessvel-e-audiodescrio-eWY7W0">VERSÃO ACESSÍVEL E AUDIODESCRIÇÃO</div>
      <img class="line-2-eWY7W0" src="/images/line-2@1x.png" /><img class="frame-eWY7W0" src="/images/frame@2x.png" />
      <div class="entrar-eWY7W0">ENTRAR</div>
      <div class="entrar-f3ATmV">ENTRAR</div>
      <img class="frame-6859-eWY7W0" src="/images/frame-6859@2x.png" />
    </div>
  </body>
</html>
