<div class=e2_0>
  <div class=e4_453>
    <div class=e4_0><span  class="e3_107">U.S. Stocks Post Biggest Monthly Gains Since April</span><span  class="e3_108">U.S. stocks wavered with the S&P 500 slipping, but the benchmark still finished August with a 7% advance marked by consistent daily gains.</span><span  class="e3_111">THE WALL STREET JOURNAL</span></div>
    <div class="e3_109"></div><span  class="e3_110">All three major U.S. stock indexes have climbed for five consecutive months after a brutal February and March that ended the longest bull market on record. The benchmark S&P 500 has surged 35% over that period, its largest five-month percentage gain since 1938.</span>
  </div>
  <div class=e4_452>
    <div class=e3_106>
      <div class="e3_56"></div>
      <div class="e3_57"></div><span  class="e3_102">Profile</span><span  class="e3_103">Bookmark</span><span  class="e3_104">Search</span><span  class="e3_105">Home</span>
    </div>
    <div class=e3_144>
      <div class="e3_145"></div>
      <div class="e3_146"></div>
    </div>
    <div class=e3_147>
      <div class="e3_148"></div>
      <div class="e3_149"></div>
    </div>
    <div class=e3_154>
      <div class="e3_155"></div>
    </div>
    <div class=e3_150>
      <div class="e3_151"></div>
    </div>
  </div>
  <div class=e2_539>
    <div class=e2_540>
      <div class="e2_541"></div>
      <div class="e2_542"></div>
    </div>
    <div class=e2_549>
      <div class=e2_550><span  class="e2_551">9:41</span></div>
      <div class=e2_552>
        <div class=e2_553>
          <div class=e2_554>
            <div class=e2_555>
              <div class="e2_556"></div>
              <div class="e2_557"></div>
            </div>
            <div class="e2_558"></div>
          </div>
          <div class="e2_559"></div>
        </div>
        <div class=e2_560>
          <div class="e2_561"></div>
          <div class="e2_562"></div>
          <div class="e2_563"></div>
          <div class="e2_564"></div>
        </div>
        <div class=e2_565>
          <div class="e2_566"></div>
          <div class="e2_567"></div>
          <div class="e2_568"></div>
        </div>
      </div>
    </div><span  class="e3_54">News</span>
    <div class=e3_138>
      <div class="e3_139"></div>
      <div class="e3_140"></div>
      <div class="e3_141"></div>
    </div>
    <div class=e3_142>
      <div class="e3_143"></div>
    </div>
  </div>
</div>