<div class="col-md-4">
  <div class="mobile-frame">
    <h1>Deputies List</h1>
    {{#each deputies}}
    <div class="col">
      <div class="card h-100">
        <img src="{{image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{party}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{birthdate}}</small>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>