/* .2_0 { 
	overflow:hidden;
}
.e2_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:812px;
	position:absolute;
}
.e4_453 { 
	width:327px;
	height:586px;
	position:absolute;
	left:24px;
	top:125px;
}
.e4_0 { 
	width:327px;
	height:208px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_107 { 
	color:rgba(50.000000819563866, 59.00000028312206, 60.00000022351742, 1);
	width:327px;
	height:77px;
	position:absolute;
	left:0px;
	top:20px;
	font-family:Playfair Display;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_108 { 
	color:rgba(81.00000277161598, 97.00000181794167, 99.00000169873238, 1);
	width:327px;
	height:103px;
	position:absolute;
	left:0px;
	top:105px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_111 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 0.47999998927116394);
	width:208px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lora;
	text-align:left;
	font-size:12px;
	letter-spacing:16;
	line-height:px;
}
.e3_109 { 
	width:327px;
	height:166px;
	position:absolute;
	left:0px;
	top:224px;
	background-image:url(images/rectangle_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_110 { 
	color:rgba(81.00000277161598, 97.00000181794167, 99.00000169873238, 1);
	width:327px;
	height:180px;
	position:absolute;
	left:0px;
	top:406px;
	font-family:Lora;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e4_452 { 
	width:375px;
	height:85px;
	position:absolute;
	left:0px;
	top:727px;
}
.e3_106 { 
	width:375px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_56 { 
	box-shadow:0px -1px 1px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:85px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_57 { 
	background-color:rgba(0, 0, 0, 1);
	width:135px;
	height:5px;
	position:absolute;
	left:120px;
	top:72px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e3_102 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 0.23999999463558197);
	width:34px;
	height:13px;
	position:absolute;
	left:303px;
	top:44px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}
.e3_103 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 0.23999999463558197);
	width:53px;
	height:13px;
	position:absolute;
	left:205px;
	top:44px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}
.e3_104 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 0.23999999463558197);
	width:37px;
	height:13px;
	position:absolute;
	left:127px;
	top:44px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}
.e3_105 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:32px;
	height:13px;
	position:absolute;
	left:39px;
	top:44px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}
.e3_144 { 
	width:24px;
	height:24px;
	position:absolute;
	left:44px;
	top:16px;
}
.3_145 { 
	border:2px solid rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
}
.e3_145 { 
	width:18px;
	height:20px;
	position:absolute;
	left:3px;
	top:2px;
}
.3_146 { 
	border:2px solid rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
}
.e3_146 { 
	width:6px;
	height:8px;
	position:absolute;
	left:9px;
	top:14px;
}
.e3_147 { 
	width:24px;
	height:24px;
	position:absolute;
	left:132px;
	top:16px;
}
.3_148 { 
	border:2px solid rgba(206.0000029206276, 208.0000028014183, 208.0000028014183, 1);
}
.e3_148 { 
	width:5.587887763977051px;
	height:5.587887763977051px;
	position:absolute;
	left:14.41211223602295px;
	top:14.41211223602295px;
}
.3_149 { 
	border:2px solid rgba(206.0000029206276, 208.0000028014183, 208.0000028014183, 1);
}
.e3_149 { 
	width:12px;
	height:12px;
	position:absolute;
	left:4px;
	top:4px;
}
.e3_154 { 
	width:24px;
	height:24px;
	position:absolute;
	left:308px;
	top:16px;
}
.3_155 { 
	border:2px solid rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
}
.e3_155 { 
	width:16px;
	height:16px;
	position:absolute;
	left:4px;
	top:4px;
}
.e3_150 { 
	width:24px;
	height:24px;
	position:absolute;
	left:220px;
	top:18px;
}
.3_151 { 
	border:2px solid rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
}
.e3_151 { 
	width:10px;
	height:15.585786819458008px;
	position:absolute;
	left:7px;
	top:4px;
}
.e2_539 { 
	box-shadow:0px 1px 1px rgba(0, 0, 0, 0.05000000074505806);
	width:375px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_540 { 
	width:375px;
	height:101.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_541 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_542 { 
	background-color:rgba(255, 255, 255, 1);
	width:375px;
	height:1px;
	position:absolute;
	left:0px;
	top:100.5px;
}
.e2_549 { 
	width:375px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_550 { 
	width:54px;
	height:20px;
	position:absolute;
	left:19.89389991760254px;
	top:14px;
}
.e2_551 { 
	color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:54px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:SF Pro Text;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e2_552 { 
	width:67px;
	height:11.5px;
	position:absolute;
	left:293.5px;
	top:17.159997940063477px;
}
.e2_553 { 
	width:24.5px;
	height:11.5px;
	position:absolute;
	left:42.5px;
	top:0px;
}
.e2_554 { 
	background-color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:24.5px;
	height:11.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_555 { 
	background-color:rgba(0, 0, 0, 1);
	width:22px;
	height:11.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_556 { 
	background-color:rgba(0, 0, 0, 1);
	width:20px;
	height:9.5px;
	position:absolute;
	left:1px;
	top:1px;
}
.e2_557 { 
	background-color:rgba(0, 0, 0, 1);
	width:22px;
	height:11.5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_558 { 
	background-color:rgba(0, 0, 0, 1);
	width:1.5px;
	height:4px;
	position:absolute;
	left:23px;
	top:3.69000244140625px;
}
.e2_559 { 
	background-color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:18px;
	height:7.666666507720947px;
	position:absolute;
	left:2px;
	top:1.9166667461395264px;
	border-top-left-radius:1.600000023841858px;
	border-top-right-radius:1.600000023841858px;
	border-bottom-left-radius:1.600000023841858px;
	border-bottom-right-radius:1.600000023841858px;
}
.e2_560 { 
	background-color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:17.099990844726562px;
	height:10.700004577636719px;
	position:absolute;
	left:0px;
	top:0.44000244140625px;
}
.e2_561 { 
	background-color:rgba(0, 0, 0, 1);
	width:3px;
	height:4px;
	position:absolute;
	left:0px;
	top:6.700004577636719px;
	border-top-left-radius:1.2000000476837158px;
	border-top-right-radius:1.2000000476837158px;
	border-bottom-left-radius:1.2000000476837158px;
	border-bottom-right-radius:1.2000000476837158px;
}
.e2_562 { 
	background-color:rgba(0, 0, 0, 1);
	width:3px;
	height:6px;
	position:absolute;
	left:4.79998779296875px;
	top:4.700004577636719px;
	border-top-left-radius:1.2000000476837158px;
	border-top-right-radius:1.2000000476837158px;
	border-bottom-left-radius:1.2000000476837158px;
	border-bottom-right-radius:1.2000000476837158px;
}
.e2_563 { 
	background-color:rgba(0, 0, 0, 1);
	width:3px;
	height:8.300003051757812px;
	position:absolute;
	left:9.399993896484375px;
	top:2.4000015258789062px;
	border-top-left-radius:1.2000000476837158px;
	border-top-right-radius:1.2000000476837158px;
	border-bottom-left-radius:1.2000000476837158px;
	border-bottom-right-radius:1.2000000476837158px;
}
.e2_564 { 
	background-color:rgba(0, 0, 0, 1);
	width:3px;
	height:10.699999809265137px;
	position:absolute;
	left:14.099990844726562px;
	top:0px;
	border-top-left-radius:1.2000000476837158px;
	border-top-right-radius:1.2000000476837158px;
	border-bottom-left-radius:1.2000000476837158px;
	border-bottom-right-radius:1.2000000476837158px;
}
.e2_565 { 
	background-color:rgba(52.000000700354576, 59.00000028312206, 60.00000022351742, 1);
	width:15.399999618530273px;
	height:11.057209968566895px;
	position:absolute;
	left:22.100006103515625px;
	top:0.24000167846679688px;
}
.e2_566 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.399999618530273px;
	height:4.782877445220947px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_567 { 
	background-color:rgba(0, 0, 0, 1);
	width:10.03215217590332px;
	height:3.664349317550659px;
	position:absolute;
	left:2.6855390071868896px;
	top:3.8257484436035156px;
}
.e2_568 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.664956569671631px;
	height:3.40260648727417px;
	position:absolute;
	left:5.367852687835693px;
	top:7.654603481292725px;
}
.e3_54 { 
	color:rgba(50.000000819563866, 59.00000028312206, 60.00000022351742, 1);
	width:59px;
	height:39px;
	position:absolute;
	left:158px;
	top:56px;
	font-family:Playfair Display;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e3_138 { 
	width:24px;
	height:24px;
	position:absolute;
	left:24px;
	top:63px;
}
.3_139 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e3_139 { 
	width:6px;
	height:12px;
	position:absolute;
	left:3px;
	top:6px;
}
.3_140 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e3_140 { 
	width:17px;
	height:0px;
	position:absolute;
	left:4px;
	top:12px;
}
.3_141 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e3_141 { 
	width:1px;
	height:0px;
	position:absolute;
	left:3px;
	top:12px;
}
.e3_142 { 
	transform: rotate(-89.99999931675467deg);
	width:24px;
	height:24px;
	position:absolute;
	left:327px;
	top:87px;
}

.3_143 { 
	border:2px solid rgba(0, 0, 0, 1);
}

.e3_143 { 
	width:2px;
	height:14px;
	position:absolute;
	left:11px;
	top:5px;
} */