body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00b7ff;
}

h1 {
  color: red!important;
}

.mobile-frame {
  display: block;
  border: 1.334vh solid #111;
  border-radius: 4.5vh;
}