body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

img.party-logo {
    max-width: 54px;
}

#flexRadioDefault2 {
    margin-top: 45px;
}

#ballotText {
    font-size: 15px;
}

.ballot-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ballot-second {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* @media (min-width: 376px) {
    .mobile-frame {
        display: block;
        border: 1.334vh solid #111;
        border-radius: 4.5vh;
        background-color: black;
    }
}

.voting-body {
    background-image: url(/images/ballot.jpeg);
    background-size: cover;
    height: 660px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.btn-primary {
    color: #fff;
    background-color: inherit;
    border-color: transparent;
}

.d-flex {
    justify-content: space-around;
}

@media (max-width: 375px) {
    button.btn {
        font-size: 10px;
    }
    .d-flex {
        justify-content: center;
    }
}

.card-img-hidden {
    display: none;
}

hr {
    border-top: 1px solid red;
} */