<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/parlamento.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="parlamento" />
    <div class="parlamento screen">
      <div class="group-6801-ZXpo8m">
        <img class="logo-1-hjw7D5" src="/images/parliament/logo-1@2x.png" />
        <div class="populis-hjw7D5">POPULIS</div>
        <div class="silent-hjw7D5">VOX</div>
      </div>
      <img class="mask-group-ZXpo8m" src="/images/parliament/mask-group@2x.png" />
      <a href="/parties"><div class="group-6821-ZXpo8m">
        <img class="image-7-Q2pSCd" src="/images/parliament/image-7@2x.png" />
        <div class="sesses-plenrias-Q2pSCd"></div>
      </div></a>
      <a href="/deputies-locations"><div class="group-7-ZXpo8m">
        <img class="rectangle-7-JqGsjZ" src="/images/parliament/rectangle-7-1@2x.png" />
        <div class="group-4-JqGsjZ"><div class="crculos-eleitorais-VpxiOF"></div></div>
        <img class="image-8-JqGsjZ" src="/images/parliament/image-8@2x.png" />
      </div></a>

      <a href="/deputies-locations"><img class="rectangle-7-ZXpo8m" src="/images/parliament/rectangle-7@2x.png" /><img
        class="mask-group-NDgozu"
        src="/images/parliament/mask-group-1@2x.png"
      /></a>
      <div class="group-4-ZXpo8m"><div class="deputados-m2kPzZ"></div></div></a>
      <div class="rectangle-11-ZXpo8m"></div>
      <img class="line-1-NDgozu" src="/images/parliament/line-1-1@2x.png" />
      <div class="group-29-ZXpo8m">
        <div class="rectangle-18-verNie"></div>
        <a href="/"><div class="incio-verNie">Início</div>
        <img class="vector-verNie" src="/images/parliament/vector@2x.png" />
      </div></a>
      <div class="group-19-ZXpo8m">
        <div class="rectangle-7-53HTpU"></div>
        <img class="mask-group-53HTpU" src="/images/parliament/mask-group-2@2x.png" />
        <div class="group-3-53HTpU"><div class="o-parlamento-v7c635">O Parlamento</div></div>
        <div class="group-6790-53HTpU">
          <img class="group-18-x9RRCQ" src="/images/parliament/group-18@2x.png" /><img
            class="image-2-x9RRCQ"
            src="/images/parliament/image-2@2x.png"
          />
        </div>
      </div>
    </div>
  </body>
</html>
