<h1>Create new book</h1>
<form action="/poll-create" method="POST" enctype="multipart/form-data">
  <label>Title</label>
  <input type="text" name="topic" />

  <label>Party</label>
  {{! <input type="text" name="author" /> }}
  {{!-- <select name="author" multiple> --}}
   <select name="party">
    <option value="">Choose author</option>
    {{#each allAuthors}}
      <option value={{_id}}>{{name}}</option>
    {{/each}}
  </select>

  <label>Description</label>
  <textarea row="5" cols="20" name="description"></textarea>

  <label>Rating</label>
  <input type="number" name="rating" />
<br><br>
  <label for="">Image</label>
  <input type="file" name="image" />
  
  <button type="submit">Create</button>
</form>