<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS Animated Accordion</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
  	<link rel="stylesheet" href="/stylesheets/accordion.css">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".accordion_header").click(function(){
			   $(".accordion_header").removeClass("active");
			   $(this).addClass("active");
			});
		});
	</script>
</head>
<body>
{{#each party}}
<div class="wrapper">
  <div class="accordion_wrap accordion_1">
    <div class="accordion_header">
      <div class="flex-row">
           <img class="col-md-4" class="party-logo" src="{{logo}}" alt="">
            <div class="col-md-2">{{sigla}}</div>
            <div class="col-md-6">{{nome}}</div>
            </div>
    </div>
    <div class="accordion_body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus culpa ducimus amet unde consequatur ullam ipsum repellendus eligendi quo nisi!</p>
    </div>
  </div>
</div>	
{{/each}}
</body>